.singal{
    height: 50px;
    background-color:black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.singal_left{
    height: 50px;
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;

}
.singal_conter{
    height: 50px;
    width: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.singal_right{
    height: 50px;
    flex: 1;
    display:flex;
    justify-content: flex-end;
    align-items: center;

}
.singal_area{
    height: 48px;
    width: 40px;
    display: flex;
    align-items:flex-end;
    padding-bottom: 25px;
    margin-left: 8px;

}
.tongxin{
    height: 48px;
    font-size: 20px;

    color: white;

}
.wangluo{
    height: 48px;
    font-size: 20px;

    color: white;

}
.singal_area div{
    height: 30px;
    width: 3px;
    margin-left: 4px;
    border-radius: 1px;



}

.singal_area div:nth-child(1){
    height: 6px;
    background-color: white;

}
.singal_area div:nth-child(2){
  height: 10px;

    background-color: white;
}
.singal_area div:nth-child(3){
    height: 14px;

    background-color: white;
}
.singal_area div:nth-child(4){
    height: 18px;
    background-color: white;
}
.x-y{
    display: flex;
    justify-content: center;
    align-items: center;

}
.battery-area{
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;


}
.battery-1{
    height: 20px;
    width: 65px;
    display: flex;
    align-items: center;
    border: white solid 1px;
    border-radius: 2px;


}
.battery-2{
    height: 10px;
    width: 5px;
    border: white solid 1px;
    background-color: white;
    border-radius: 0 1px 1px 0;

}
.battery-3{
    height: 15px;
    width: 30px;
    border: white solid 1px;
    margin-left: 2px;
    animation: charge 5s linear infinite;

}
@keyframes charge {
    0% {
        background-color: red;
        width: 1px;
    }

    20% {
        background-color: yellow;
        width: 14px;
    }

    80% {
        background-color: green;
        width : 50px;
    }
    100% {
        background-color: green;
        width : 60px;
    }
}
