.title{
    height: 50px;

    background-color: black;
    display: flex;
    justify-content: space-between;
}
.title-left{
    height: 50px;
    width: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.title-center{
    height: 50px;
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;


}
.title-right{
    height: 50px;
    width: 50px;
    background-image: url(../img/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

    position: relative;
}

.title_menu {

    display: none;
    height: 160px;
    width: 120px;
    background-color: #313131;
    position: absolute;
    right: 10px;
    top: 60px;


}
.title_menu div:nth-child(1){
    width: 120px;
    height: 40px;
    display: flex;
    border-bottom: beige solid 1px;

}
.title_menu div:nth-child(2){
    width: 120px;
    height: 40px;
    display: flex;
    border-bottom: beige solid 1px;
}
.title_menu div:nth-child(3){
    width: 120px;
    height: 40px;
    display: flex;
    border-bottom: beige solid 1px;
}
.title_menu div:nth-child(4){
    width: 120px;
    height: 40px;
    display: flex;
    border-bottom: beige solid 1px;

}
.a{
   flex: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;



}
.b{
    flex: 3;
    line-height: 40px;
    color: white;

}